.nav-title {
    font-size: 18px;
    //font-weight: 700;
    text-decoration: underline;
    margin-bottom: 8px;
}

.nav-container {
    display: flex;    
    gap: 2rem;
}

.nav {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 12px;      
    
    a {   
        font-size: 14px;        
    }
}