
<article>
    <h2>Actividades</h2>
    <lab-card-title [cardTitle]="'Actividades:' + ' ' + activitys.length"> </lab-card-title>
    <ul>
        @for (activity of activitys; track activity.id) {
        <li class="flex">
            @if(activity.ageCategory === 'adult') {
               <lab-activity-age-category [ageCategory]="activity.ageCategory"></lab-activity-age-category>
            }
            @if(activity.ageCategory === 'family') {
                <lab-activity-age-category [ageCategory]="activity.ageCategory"></lab-activity-age-category>

            }
            @if(activity.ageCategory === 'child') {
                <lab-activity-age-category [ageCategory]="activity.ageCategory"></lab-activity-age-category>
            }        
            <lab-activity-title [title]="activity.title"></lab-activity-title>
            <lab-activity-location [location]="activity.location"></lab-activity-location> 
            <lab-activity-date [date]="activity.date "></lab-activity-date>
            <lab-activity-price [price]="(activity.price | currency: activity.currency) ?? ''"></lab-activity-price> 
        </li>
        }
    </ul>
    <!-- Actividades disponibles actualmente PUBLISHED -->
    <lab-card-title [cardTitle]="'Actividades actualmente disponibles: ' + activitysPublished.length"> </lab-card-title>
    
    <ul>
        @for (activity of activitysPublished; track activity.id) {
        <li class="flex">        
            <lab-activity-title [title]="activity.title"></lab-activity-title>
        </li>
        }
    </ul>
</article>
