
body {
    padding: 1rem;
    font-family: system-ui, sans-serif;
    font-size: 16px; 
    background-color: #f6f7f8;
}

button {
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    background-color: #0172ad;
    color: #fff;
    cursor: pointer;
}

header {
    padding: 1rem;
    margin-bottom: 24px;
}


main {
    padding: 1rem;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    background-color: #fff;
    border-radius: 8px;
}

h1, h2, h3 ,
p {
    margin: 0;
    padding: 0;
    font-size: initial;
    font-weight: 400;
}

h1 {
    font-size: 28px;
    font-weight: 700;   
    margin-bottom: 16px;
}

h2 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 16px;
}

h3 {
    font-size: 18px;
    margin-bottom: 16px;
}



a {
    font-size: 16px;
}

article:last-child {
    margin-bottom: 0;
}

.flex {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 16px;
}
