
body {
    padding: 1rem;
    font-family: system-ui, sans-serif;
    font-size: 16px;  
}

header,
main,
footer {
    padding: 1rem;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
}

h1, h2, h3 ,
p {
    margin: 0;
    padding: 0;
    font-size: initial;
    font-weight: 400;
}

h2 {
    font-size: 20px;
    font-weight: 700;
    text-decoration: underline;
    margin-bottom: 16px;
}

h3 {
    font-size: 18px;
    margin-bottom: 16px;
}



a {
    font-size: 16px;
}

article:last-child {
    margin-bottom: 0;
}


